body {
    padding: 0;
    margin: 0;
    color: white;
    background-color: rgb(65, 61, 61);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 900;
}

.destaque1{
    color: goldenrod;
}

.destaque2{
    color:red;
}

header {
    margin: 0;
    margin-bottom: 30px;
    padding: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    background-color: rgb(0, 0, 0, 0.3);
}



.titulo-fechado {
    display: block;
    text-align: center;
}

.card {
    transition:
        background-color 1s ease,
        color 1.5s ease,
        font-size 0.7s ease,
        height 0.4s ease,
        width 0.2s ease,
        padding 1s ease,
        margin-left 1s ease,
        opacity 3.5s ease,
        border-radius 0.7s ease;
}

.card-obra {
    color: black;
    align-items: center;
    min-height: 30px;
    width: 50%;
    min-width: 300px;
    height: 2em;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 30px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 2.2em;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 5px 1px rgb(0, 0, 0, 0.5);
}

.card-obra-select {
    height: 500px;
    width: 90%;
    color: rgb(0, 0, 0);
    display: block;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 6px;
    font-weight: 600;
    font-size: 2rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 2px 1px #000000;
}

.card-obra:hover {
    border: 5px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}


.conteudo {
    color: black;
    font-size: 1.2rem;
    transition: opacity 1.5s ease;
}

.escondido {
    opacity: 0;
    visibility: hidden;
}

.visivel {
    opacity: 1;
    visibility: visible;
}

.parte-fig-text {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.container-fig {
    width: 800px;
}

.container-fig img {    
    width: 100%;
    max-width: 500px;
    height: 300px;
    margin: auto;
    display: block;
    border-radius: 5px;
    align-items: center;
}

.container-info {
    height: 100%;
    margin-left: 20px;
    width: 100%;
    align-items: center;

}

/*---------------------------------------Area de Fontes---------------------------------------*/

/*Gabriel Arruda*/
@font-face {
    font-family:BloodBorne;
    src: url("fonts/Fleshandblood-MVA5x.ttf");
}
.BloodBorne{
    font-family: BloodBorne;
    text-align: center;
    display: block;
} 

@font-face {
    font-family:SilentHill;
    src: url("fonts/SLNTHLE.TTF");
}
.SilentHill{
    font-family: SilentHill;
    text-align: center;
    display: block;
} 

/*Gabriel Arruda*/
@font-face {
    font-family:EldenRing;
    src: url("fonts/Mantinia.otf");
}

.EldenRing{
    font-family: EldenRing;
    text-align: center;
    display:    block;
}
/*Gabriel Arruda*/
@font-face {
    font-family: DMCV;
    src: url(TRABALHO_TOP10/fonts/DMC5Font.otf);
}
.DMCV{
    font-family: DMCV;
    text-align: center;
    display: block;
}
/*---------------------------------------Area de Cards Diferentes---------------------------------------*/
/*Gabriel Arruda*/
.card-Bloodborne:hover {

    color: rgb(107, 14, 14) ;
    border: red solid 5px;
}

.card-SilentHill:hover {

     color: darkslategray;
    border: lightslategray solid 5px;
}
/*Gabriel Arruda*/
.card-EldenRing:hover {

    color: goldenrod;
    border: gold solid 5px;
}
